[submodule "app/assets/javascripts/flow"]
	path = app/assets/javascripts/flow
	url = https://github.com/flowjs/flow.js.git
[submodule "app/assets/javascripts/jstree"]
	path = app/assets/javascripts/jstree
	url = https://github.com/vakata/jstree.git
[submodule "app/assets/javascripts/jsplumb"]
	path = app/assets/javascripts/jsplumb
	url = https://github.com/sporritt/jsPlumb.git
[submodule "app/assets/javascripts/sorttable"]
	path = app/assets/javascripts/sorttable
	url = https://github.com/dbrink/sorttable.git
[submodule "app/assets/javascripts/tinymce"]
	path = app/assets/javascripts/tinymce
	url = https://github.com/tinymce/tinymce.git
[submodule "app/assets/javascripts/ace-builds"]
	path = app/assets/javascripts/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
