.form-outer-box {
    width:300px;
    height:300px;
    background-color:rgba(0,0,0,0.0);
    border-color:rgba(0,0,0,0.0);
    border-width:3px;
    border-style:solid;
    overflow:hidden;
    z-index:20;
    position:absolute;
}

.form-circle {
    position:absolute;
    width:100%;
    height:100%;
    z-index:16;
    background-color:rgba(0,0,0,0.0);
}

.form-circle-inner {
 
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:17;
}
.form-circle-boxholder {

    display:inline-flex;
    text-align:center;
    width:100%;
    height:100%;
}
.form-circle-innerbox {
    margin: auto;
    width:66%;
    height:66%;
    display:inline-flex;
    text-align:center;
    overflow:hidden;
    flex-direction: column;
}
.form-note {
    position:absolute;
    width:100%;
    height:100%;
    z-index:16;
    background-color:rgba(0,0,0,0.0);
}
.form-decision {
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    z-index:16;
    background-color:rgba(0,0,0,0.0);
}
.form-document {
    position:absolute;
    width:100%;
    height:100%;
    z-index:16;
    background-color:rgba(0,0,0,0.0);
}
.form-folder {
    position:absolute;
    width:100%;
    height:100%;
    z-index:16;
    background-color:rgba(0,0,0,0.0);
}
.form-note-innerbox {

    width:85%;
    height:100%;
    margin-left:1%;
    background-color:rgba(0,0,0,0.0);
    display:inline-flex;
    text-align:center;
    overflow:hidden;
    flex-direction: column;
    z-index:17;
}
.form-document-innerbox {

    width:98%;
    margin-left:1%;
    margin-right:1%;
    height:83%;
    background-color:rgba(0,0,0,0.0);
    display:inline-flex;
    text-align:center;
    overflow:hidden;
    flex-direction: column;
    z-index:17;
}
.form-folder-innerbox {

    width:98%;
    height:86%;
    margin-top: 10%;
    margin-left:1%;
    margin-right:1%;
    background-color:rgba(0,0,0,0.0);
    display:inline-flex;
    text-align:center;
    overflow:hidden;
    flex-direction: column;
    z-index:17;
}
.form-decision-boxholder {

    display:inline-flex;
    text-align:center;
    width:100%;
    height:100%;

}
.form-decision-innerbox {

    width:50%;
    height:50%;
    margin: auto;
    background-color:rgba(0,0,0,0.0);
    display:inline-flex;
    text-align:center;
    overflow:hidden;
    flex-direction: column;
    z-index:17;
}

.form-text-area {
    margin: auto;
     z-index:19;
}
.dbContextMenu, .dbTableMenu {
	display:none;
	position:absolute;
	z-index:9000;
}
.dbContextMenu li>a, .dbTableMenu li>a {
  display: block;
  padding: 0 2em;
  text-decoration: none;
  width: auto;
  color: #000;
  white-space: nowrap;
  line-height: 2.4em;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 1px;

}
.dbContextMenu li, .dbTableMenu li {
	  background-color:#f5f5f5;
}

.flowchart-boundbox {
    width: 900px;
    height:800px;
    border-width:4px;
    border-color:#000000;
    border-style:solid;
    background-color:#FFFFFF;
    padding-right:35px;
    padding-bottom:35px;
}
#main {
    height:100%;
    width:100%;
}
#flowchart-demo {
    width:100%;
    height:100%;

}

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.flowchart-demo .window {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 80px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.flowchart-demo .active {
    border: 1px dotted green;
}

.flowchart-demo .hover {
    border: 1px dotted red;
}

.dbChartContainer {
    padding:10px;
    background-color:#0000ff;
    top: 55px;
    left: 22px;
    width:200px;
    position:absolute;

}
.dbChartTable {
    width:100%;
    height:40px;
    background-color:#FFFFFF;
    border-width:2px;
    border-style:solid;
    border-color:#000000;
}
#flowchartWindow1 {
    top: 34em;
    left: 5em;
}

#flowchartWindow2 {
    top: 7em;
    left: 36em;
}

#flowchartWindow3 {
    top: 27em;
    left: 48em;
}

#flowchartWindow4 {
    top: 23em;
    left: 22em;
}

.flowchart-demo ._jsPlumb_connector {
    z-index: 4;
}

.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.flowchart-demo .aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window._jsPlumb_connected {
    border: 2px solid green;
}

.jsplumb-drag {
    border: 4px solid pink !important;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}
._jsPlumb_overlay {
    z-index:50;
    background: rgba(255,255,255,0.8);
    max-width:80px;
}
#tableColor {
    width:200px;
    height:40px;
}