html {
	height: 100%;
	margin: 0;
	padding:0;
}
body {
	height: 100%;
	margin:0;
	padding:0;
}
#mainContainer {
	height: 100%;
	margin: 0;
	padding: 0;
	
}
.sortHelper {
	background-color:#FCFCFC;
	text-align:center;
	border-style:solid;
	border-color:#000000;
	border-width:1px;
}
.activePane {
}

#toolBarTabs {
	display:inline;
}
.windowPaneTab { 
	padding-left:20px;
	margin-left:5px;
	height:20px;
	border-style:solid;
	border-color:#000000;
	border-width:2;
	background-color:#e0e0e0;
	display:inline;
}
.windowPaneTabClose {
	margin-left:8px;
	margin-right:0;
	background-color: #939393;
	width:20px;
	display:inline;
	
}

#editorContainer {
	overflow: hidden;
}


.paneMaximized {
	
}
.cContainer { 
	height:100%;
}
.cOutputs {
height:calc(100% - 40px);
}

.activeWindow {
	position: absolute;
}
.lowZ {
	z-index:15;
}
.highZ {
	z-index:20;
}
.clearIcons {
	clear:both;
}
.paneBox {
	background: rgba(192,192,224,0.9);
	float:right;
}
.paneMinimize {
	float:left;
}
.paneMinMax {
	float:left;
}
.paneClose {
	float:left;
}
.paneRestore {
	float:left;
}

#windows .ui-widget-header {
    background: rgba(43, 47, 58, 0.9);
    color: #9ea2a5;
    font-weight: bold;
    height:16px
}
#windows .ui-widget-header ul {
    height:11px;   
}
.tabBar ul .ui-tabs-nav {
	height: 11px;
	width:100%;
}
#windows .ui-tabs-panel {
	height: calc(100% - 36px);
}
#windows .ui-tabs .ui-tabs-nav li {
    height:15px;
    margin-top:0px;
    font-size:10px;
    
}
#windows .ui-icon .ui-icon-close {
	position:relative;
	top:-16px;
}
#windows .ui-tabs .ui-tabs-nav li a {
    position:relative;
    top:-3px
}
.toolBarItemTop {
	display: inline;
}
.toolBarItemSide {
	display: block;
}
#toolBarSide {
	float: left;
}
#leftBar {
	height: 100%;
	float: left;
}
#toolBarTop {
	background-color: #cFFFFc;
	border-style: solid;
	border-width: 2px;
	border-color: #c0FF0a;
}
#rightWindow {
	position: absolute;
	height: calc(100% - 92px);
}

.cChatBox {
	height:100%;
	float: left;
	border: 1px solid black;
	width: calc(80% - 4px);
	border-radius: 4px;
	margin: 0px;
}
.cUserBox {
	height:100%;
	float: right;
	border: 1px solid black;
	width: calc(20% - 4px);
	border-radius: 4px;
	margin: 0px;
}
.cInputBox {
	width: 100%;
}
.AriaTab {
	min-height: 320px;
}
.cContainer {
	height: 100%;
}
.cInputBoxContainer {
	width: 100%;
}
.cInputBox {
	width: 100%;
}
.cMsgT {
	font: monospace;
	font-size: 0.6em;
}
.cMsgT tr td {
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.cMsgT tr td:nth-child(1) {
	text-align: top;
	width: 100px;
	border-right: 1px dotted black;

}
.cMsgT tr td:nth-child(2) {
	width: calc(100%-100px);
}

.cMsgT tr td:nth-child(2) p {
	display: inline;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.cMsg {
	border: 1px solid black;
	border-radius: 4px;
}
.cMsgUser {
	padding-right: 8px;
	background: rgba(255, 0, 0, 1.0);
	display: block;
	float: left;
	width: 100px;
}
.cMsgMsg {
	display: block;
	width: calc(100% - 100px);
}
#windowFormat {
	display: none;
}
.windowPane {
	width: 600px;
	height:50%;
	overflow: hidden;
	/*margin: 10px;*/
	top: 0px;
	left: 0px;
}
#windows {
	/*padding: 5px;*/
	/*border: 5px solid rgba(0, 0, 0, 0.0);*/
	height:100%;

}
.CodeMirror {
	width: 100%;
	height: 80%;
}

#fileContainer {
	padding: 5px;
	overflow: hidden;
	border-right-width: 5px;
	height:100%;
}

#editorContextWindow01 {
	position: absolute;
	display: none;
}
#dialog label,
#dialog input {
	display: block;
}
#dialog label {
	margin-top: 0.5em;
}
#dialog input,
#dialog textarea {
	width: 95%;
}
.tabBar {
	height: calc(100% - 28px);
	margin-top: 0;
}
.tabBar .tabIconBox {
	float:right;
}
.tabBar .tabIconClear {
	clear:both;
}
.tabBar li .ui-icon-close {
	position:relative;
	top:-6px;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}
#add_tab {
	cursor: pointer;
}
.jstree-contextmenu {
	z-index:99999;
}


.preAceEdit {
        margin: 0;
        height: calc(100% - 20px);
        width:100%;
}