
    <div class="terminalHolder">
        <div class="terminalInfo">
            <div class="terminalUsers" id="<%= @terminalName %>_UserBox">
            </div>
        </div>
        <div class="terminalWindow" terminalId="<%= @terminalName %>" id="<%= @terminalContainerId %>">
       </div>
    </div>
