<div class="taskBox" id="task_<%= @taskName %>" taskName="<%= @taskName %>">
            <table id="<%= @taskName %>_TaskSpace" class="taskTable" taskName="<%= @taskName %>">
                <thead>
                    <tr><th class="nosort"> </th></tr>
                </thead>
                <tbody>
                    <tr><td class="taskRowLabel">1</td></tr>
                </tbody>
            </table>
</div>