

	<div id="mainContainer">
		<%= render 'layouts/topbarstart' %>
						<li class='active has-sub'><a href='#'><span>File</span></a>
							<ul>
								<li class='has-sub'><a href='#'><span>Save</span></a>
									<ul>
										<li><a href='#'><span>To Server</span></a>
										</li>
										<li class='last'><a href='#'><span>To Client</span></a>
										</li>
									</ul>
								</li>
								<li class='has-sub'><a href='#'><span>New</span></a>
									<ul>
										<li><a href='#'><span>SuperFile</span></a>
										</li>
										<li class='last'><a href='#'><span>File</span></a>
										</li>
									</ul>
								</li>
								<li id="fsckNew"><a href='#'><span>FSCK New</span></a>
								</li>							</ul>
						</li>
						<li class='active has-sub'><a href='#'><span>View</span></a>
							<ul>
								<li id="themesMenu" class="has-sub"><a href='#'><span>Themes</span></a>
									<ul id="themesSubMenu">
										<li class="has-sub"><a href='#'><span>Light Themes</span></a>
											<ul id="lightSubMenu">
											</ul>
										</li>
										<li class="has-sub"><a href='#'><span>Dark Themes</span></a>
											<ul id="darkSubMenu">
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class='active has-sub'><a href='#'><span>Window</span></a>
							<ul>
								<li id="window_newPane"><a href='#'><span>New Pane</span></a>
								</li>
								<li class='has-sub window_defaultLayouts'><a href='#'><span>Default Layouts</span></a>
									<ul id="window_arrangePanes">

										<li class='arrangePane' panes='1'><a href='#'><span><img src="/img/white-onepane.png" alt = "One Pane"/></span></a></li><li class='arrangePane' panes='2a'><a href='#'><span><img src="/img/white-twopanea.png" alt = "Two Panes - Side by Side"/></span></a></li><li class='arrangePane' panes='2b'><a href='#'><span><img src="/img/white-twopaneb.png" alt = "Two Panes - Top & Bottom"/></span></a></li>
										<li></li>
										<li class='arrangePane' panes='3a'><a href='#'><span><img src="/img/white-threepanea.png" alt = "Three Panes - Big Left"/></span></a></li><li class='arrangePane' panes='3b'><a href='#'><span><img src="/img/white-threepaneb.png" alt = "Three Panes - Big Right"/></span></a></li><li class='arrangePane' panes='3c'><a href='#'><span><img src="/img/white-threepanec.png" alt = "Three Panes - Big Bottom"/></span></a></li><li class='arrangePane' panes='3d'><a href='#'><span><img src="/img/white-threepaned.png" alt = "Three Panes - Big Top"/></span></a></li>
										<li></li>
										<li class='arrangePane' panes='4'><a href='#'><span><img src="/img/white-fourpane.png" alt = "Four Panes Equal Size"/></span></a></li><li class='arrangePane' panes='5a'><a href='#'><span><img src="/img/white-fivepanea.png" alt = "Five Panes - Big Right"/></span></a></li><li class='arrangePane' panes='5b'><a href='#'><span><img src="/img/white-fivepaneb.png" alt = "Five Panes - Big Left"/></span></a></li><li class='arrangePane' panes='5c'><a href='#'><span><img src="/img/white-fivepanec.png" alt = "Five Panes - Big Bottom"/></span></a></li>
									</ul>
								</li>
							</ul>
						</li>

						<li class='last'><a href='#'><span>Contact</span></a>
						</li>
<% @include_menuRightBar = true %>						
<%= render 'layouts/topbarend' %>

		<div id="editorContainer">

				<div id="toolBarSide">
				    <div id="toolBarRotate">
    				    <ul>
    				        <li><a href="#tabs-1">Files</a>
    				        </li>
    				        <li><a href="#tabs-2">Collaboration Tools</a>
    				        </li>
    				        <li><a href="#tabs-3">Preferences</a>
    				        </li>
    				    </ul>
    				 </div>  
    				    <div id="tabs-1">
    
    				    	<div id="jsTreeFile">
    
    
    
    				    	</div>
    				    </div>
    				    <div id="tabs-2">
    				        <div id="jsTreeChat"></div>
    				        <div id="jsTreeTerminal"></div>
    				        <div id="jsTreeTaskBoard"></div>
    				        <div id="jsTreeFlowchart"></div>
    				    </div>
    				    <div id="tabs-3">
    
    				    </div>
    				
				    

				</div>

			<div id="rightWindow">

				<div id="windows">

				</div>

				<!-- <div class="windowRowClear"> </div> This clears the float and puts windows on the next line-->

			</div>
			<!--<div style="clear:both;"></div>-->
			<div id="rightBar">
				<div id="userBar">

				</div>
			</div>


		</div>

	</div>

	<div id="log"> </div>
	<div class="dialogContainer">
		<div id="dialog-info" class="dialog-window" title="Information Dialog" style="display:none;">
			<div class="dialog-info-space"></div>
		</div>
		<!--<div id="dialog-newfile" class="dialog-window" title="Create New File" style="display:none;">-->
		<!--	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please name your file.</p>-->
		<!--	<form action="" method="post">-->
		<!--	<label>New File Name:</label>-->
		<!--	<input id="newFileName" name="name" type="text"/>-->
		<!--	<p>Open this file <input type="checkbox" id="newFileOpen" name="openinpane" onchange="fileCheckBoxChanged()"/></p>-->
		<!--	<div id="newFileDropDownBox"></div>-->
		<!--	<input id="newFileSubmit" type="submit" value="Submit">-->
		<!--	</form>-->
		<!--</div>-->
		<!--<div id="dialog-newterminal" class="dialog-window" title="Create New Terminal" style="display:none;">-->
		<!--	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please name your terminal.</p>-->
		<!--	<form action="" method="post">-->
		<!--	<label>New Terminal Name:</label>-->
		<!--	<input id="newTerminalName" name="name" type="text"/>-->
		<!--	<p>Open this terminal <input type="checkbox" id="newTerminalOpen" name="openinpane" onchange="terminalCheckBoxChanged()"/></p>-->
		<!--	<div id="newTerminalDropDownBox"></div>-->
		<!--	<input id="newTerminalSubmit" type="submit" value="Submit">-->
		<!--	</form>-->
		<!--</div>-->
		<!--<div id="dialog-newchat" class="dialog-window" title="Create New Chat Room" style="display:none;">-->
		<!--	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please name your Chat Room.</p>-->
		<!--	<form action="" method="post">-->
		<!--	<label>New Chat Room Name:</label>-->
		<!--	<input id="newChatName" name="name" type="text"/>-->
		<!--	<p>Open this Chat Room <input type="checkbox" id="newChatOpen" name="openinpane" onchange="chatCheckBoxChanged()"/></p>-->
		<!--	<div id="newChatDropDownBox"></div>-->
		<!--	<input id="newChatSubmit" type="submit" value="Submit">-->
		<!--	</form>-->
		<!--</div>-->
	
		  <div class="flow-error">
	        Your browser, unfortunately, is not supported by Flow.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
	      </div>
	
	      <div class="flow-drop" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
	        Drop files here to upload or <a class="flow-browse-folder"><u>select folder</u></a> or <a class="flow-browse"><u>select from your computer</u></a> or <a class="flow-browse-image"><u>select images</u></a>
	      </div>
	      <div id="uploadDialog" style="display:none">
		      <div class="flow-progress">
		        <table>
		          <tr>
		            <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
		            <td class="progress-text" nowrap="nowrap"></td>
		            <td class="progress-pause" nowrap="nowrap">
		              <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="/assets/flow/resume.png" id="" title="Resume upload" /></a>
		              <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="/assets/flow/pause.png" title="Pause upload" /></a>
		              <a href="#" onclick="r.cancel(); return(false);" class="progress-cancel-link"><img src="/assets/flow/cancel.png" title="Cancel upload" /></a>
		            </td>
		          </tr>
		        </table>
		      </div>
	
		      <ul class="flow-list"></ul>
	      </div>
	      <div id="dialog-dbEditor" class="dialog-window" title="Information Dialog" style="display:none;">
			<div class="dialog-info-space"></div>
		  </div> 
		  <div id="wysiwyg" style="display:none;">
		  <div class="dialog-info-space"></div>
		    <form method="post">
	            <textarea name="wysiwygContent" id="wysiwygText" style="width:100%"></textarea>
	        </form>
	      </div>
	      <input type="file" name="selectFile" id="selectFile" style="display:none;">
	 </div>
