.cChatBox {
	float:left;
	border:1px solid black;
	width: calc(80% - 4px);
	border-radius:4px;
	margin:0px;
}

.cUserBox {
	float:right;
	border:1px solid black;
	width: calc(20% - 4px);
	border-radius:4px;
	margin: 0px;
}

.cInputBox {
	width: 100%;
}

.AriaTab {
	min-height: 320px;
}

.cContainer {
	height:100%;
}

.cInputBoxContainer {
	width:100%;
}
.cInputBox {
	width: 100%;
}
.cMsg {
	border: 1px solid black;
	border-radius: 4px;
}
.cMsgUser {
	padding-right: 8px;
	background: rgba(255,0,0,1.0);
	display: block;
	float: left;
	width: 100px;
}

.cMsgMsg {
	display: block;
	width: calc(100% - 100px);
}	