#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.glowingUser {
	background-color:#FF0000;
}
.cUser {
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.ui-menu-item {
	z-index:9999;
}
.ui-dialog {
	background-color:#FAFAFA;
}
.jstree-node {
	width:100%;
}
.jstree-anchor {
	width:100% !important;
}

.terminal-output {
	background-color:#000000;
	height:calc(100% - 40px);
}

.terminalHolder { 
	height:calc(100% - 48px);
	width:calc(100% - 48px);
	margin:0px;
}

.terminalWindow {
	height: 100%;
	width: calc(80%);
	margin:0px;
}

.terminalInfo {
	height: 100%;
	width: calc(20% - 4px);
	margin:0px;
	border:0px;
	padding:0px;
	float: right;
	
}

.terminalUsers {
	height:100%;
	width: 100%;
	border-width:2px;
	border-style:solid;
	border-color:#FF0000;
	background-color:#FFFFFF;
	margin-top:5px;
	margin-bottom:5px;
	overflow:hidden;

}



/*.jsTreeContextMenu {*/
/*	display:none;*/
/*	position:absolute;*/
/*	width:150px !important;*/
/*	z-index:9000;*/
/*}*/
/*.jsTreeContextMenu li>a.contextMenuParent {
  background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==);
  background-position: right center;
  background-repeat: no-repeat;
}*/
/*.jsTreeContextMenu,*/
/*.jsTreeContextMenu ul {*/
/*  margin: 0;*/
/*  padding: 2px;*/
/*  position: absolute;*/
/*  background: #f5f5f5;*/
/*  border: 1px solid #979797;*/
/*  box-shadow: 2px 2px 2px #999999;*/
/*}*/
/*.jsTreeContextMenu ul {*/
/*  list-style: none;*/
/*  left: 100%;*/
/*  margin-top: -2.7em;*/
/*  margin-left: -4px;*/
/*}*/
/*.jsTreeContextMenu li>a {*/
/*  height: 1.5em;*/
/*  display: block;*/
  /*padding: 0 2em 0 2em;*/
/*  padding: 0 1.5em 0 1.0em;*/
/*  text-decoration: none;*/
/*  width: auto;*/
/*  color: black;*/
/*  white-space: nowrap;*/
  /*line-height: 2.4em;*/
/*  line-height: 1.5em;*/
  
/*  text-shadow: 1px 1px 0 white;*/
/*  border-radius: 1px;*/

/*}*/
/*.jsTreeContextMenu li {*/
/*	  list-style: none;*/
/* 	  display: inline;*/
	  /*background-color:#f5f5f5;*/
/*}*/
/*.jsTreeContextMenu li>a:hover {
	background-color:#e8eff7;

}*/

.AriaTab .ace_search {
	width:100%;
	max-width:100%;
}


#sidewaysWrapper {
    position: relative;
    width: 488px;
}
#sidewaysTabs {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 52px;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translate(-488px, 0px);
       -moz-transform: rotate(-90deg) translate(-488px, 0px);
         -o-transform: rotate(-90deg) translate(-488px, 0px);
            transform: rotate(-90deg) translate(-488px, 0px);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#sidewaysTabs li {
    float: left;
    width: 120px;
    height: 50px;
    border: 1px solid #000;
    text-align:center;
}
#sidewaysTabs li a {
    display: block;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
}
#sidewaysTabs li a:hover {
    background-color: #bbb;
}




html {
	height: 100%;
	margin: 0;
	padding:0;
}
body {
	height: 100%;
	margin:0;
	padding:0;
}
#mainContainer {
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.sortHelper {
	background-color:#FCFCFC;
	text-align:center;
	border-style:solid;
	border-color:#000000;
	border-width:1px;
}
.activePane {
}
.paneTitle {
	padding-left:10px;
}
#toolBarTabs {
	display:inline;
}
.windowPaneTab { 
	margin-top: 4px;
	cursor: pointer;
	width: 6em;
	padding-left:4px;
	
	margin-left:5px;
	height:20px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius:4px;
	background-color:#e0e0e0;
	display:inline-block;
	overflow: hidden;
}

.windowPaneTabText {
	
}

.windowPaneTabClose {
	/*background-color: #939393;*/
	/*width:20px;*/
	/*display:inline;*/
}
.windowPaneTabFocus {
	
}
.windowPaneTabIcons {
	float:right;
	display: inline-block;
}
.windowPaneTabIcon {
	display: inline-block;
	border-radius:7px;
	
}
.ui-icon:hover {
	background-color: rgba(240,240,255,0.5);
}


.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#editorContainer {
	overflow: hidden;
	width:100%;
	height:100%;
}


.paneMaximized {
	
}
.cContainer { 
	height:100%;
}
.cOutputs {
height:calc(100% - 40px);
}

.activeWindow {
	position: absolute;
}
.lowZ {
	z-index:15;
}
.highZ {
	z-index:50;
}
.clearIcons {
	clear:both;
}
.paneBox {
	background: rgba(192,192,224,0.9);
	float:right;
}
.paneMinimize {
	float:left;
}
.paneMinMax {
	float:left;
}
.paneClose {
	float:left;
}
.paneRestore {
	float:left;
}

#windows .ui-widget-content {
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #000000 4%, #383838 37%, #111111 60%, #2b2b2b 76%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(4%,#000000), color-stop(37%,#383838), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* IE10+ */
background: linear-gradient(135deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* W3C */
}
#windows .ui-widget-header {
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #000000 4%, #595959 12%, #474747 22%, #474747 22%, #666666 25%, #2c2c2c 52%, #111111 60%, #2b2b2b 76%, #1c1c1c 96%, #1c1c1c 96%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(4%,#000000), color-stop(12%,#595959), color-stop(22%,#474747), color-stop(22%,#474747), color-stop(25%,#666666), color-stop(52%,#2c2c2c), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(96%,#1c1c1c), color-stop(96%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* IE10+ */
background: linear-gradient(135deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* W3C */
    color: #9ea2a5;
    font-weight: bold;
    height:16px
}
.paneHeader {
	min-height:16px;
}
#windows .ui-widget-header ul {
    height:11px;   
}
.tabBar ul .ui-tabs-nav {
	height: 11px;
	width:100%;
}
#windows .ui-tabs-panel {
	padding: 1px;
/*height: calc(100% - 36px);*/
height:100%;
}
#windows .ui-tabs .ui-tabs-nav li {
    height:15px;
    margin-top:0px;
    font-size:10px;
    
}
#windows .ui-icon .ui-icon-close {
	position:relative;
	top:-16px;
}
.closeButton, .reloadButton {
	display:inline-block !important;
}
/*#windows .ui-icon .ui-icon-arrowrefresh-1-s {
	position:relative;
	top:-16px;
}*/
#windows .ui-tabs .ui-tabs-nav li a {
    position:relative;
    top:-3px
}
.toolBarItemTop {
	display: inline;
}
.toolBarItemSide {
}


#toolBarSide .ui-tabs-anchor {
  outline: none;
}
#toolBarSide .ui-tabs-active:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: calc(50% - 10px);
	border-width: 10px 10px 0;
	border-style: solid;
	border-color: #E0E0E0 transparent;
}
#leftBar {
	height: 100%;
	position:relative;
	left:50px;
	top:0px;
	float:left;
}
#toolBarTop {
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #000000 4%, #383838 37%, #111111 60%, #2b2b2b 76%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(4%,#000000), color-stop(37%,#383838), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* IE10+ */
background: linear-gradient(135deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* W3C */
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}
#rightWindow {
	position: absolute;
	height: calc(100% - 92px);
	background-color:#FFFFFF;
	z-index:3;
}

.cChatBox {
	height:calc(100% - 24px);
	float: left;
	border: 1px solid black;
	width: calc(80% - 4px);
	border-radius: 4px;
	margin: 0px;
	background: rgba(255,255,255,0.95);
	overflow-y: auto;
}
.cUserBox {
	height:calc(100% - 24px);
	float: right;
	border: 1px solid black;
	width: calc(20% - 4px);
	border-radius: 4px;
	margin: 0px;
	background: rgba(255,255,255,0.95);
}

.AriaTab {
	/*min-height: 320px;*/

}

.cContainer {
	height: 100%;
}
.cInputBoxContainer {
  width: calc(100% - 8px);
  bottom: 8px;
  position: absolute;
}
.cInputBox {
	width: calc(100% - 4px);
}
.cMsgT {
	font-family: monospace;
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
}
.cMsgT p {
	display: inline;
	padding-left:5px;
}
.cMsgT tr td {
	word-break: break-word;
	word-wrap: break-word;
	white-space: pre-wrap;
	vertical-align: center;
}
.cMsgT tr td:nth-child(1) {
	width: 100px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}
.cMsgT tr td:nth-child(2) {
	width: calc(100% - 100px);
	text-align: left;
}

.cMsgT tr td:nth-child(2) p {
	border-left: 1px dotted rgba(0,0,0,0.9);
	border-radius:2px;
	/*display: block;*/
	word-break: break-word;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.cMsg {
	border: 1px solid black;
	border-radius: 4px;
}
.cMsgUser {
	padding-right: 8px;
	background: rgba(255, 0, 0, 1.0);
	display: block;
	float: left;
	width: 100px;
}
.cMsgMsg {
	display: block;
	width: calc(100% - 100px);
}
#windowFormat {
	display: none;
}
.windowPane {
	width: 600px;
	height:50%;
	overflow: hidden;
	/*margin: 10px;*/
	top: 0px;
	left: 0px;
}
#windows {
	/*padding: 5px;*/
	/*border: 5px solid rgba(0, 0, 0, 0.0);*/
	height:100%;

}
.CodeMirror {
	width: 100%;
	height: 80%;
}


#editorContextWindow01 {
	position: absolute;
	display: none;
}

#dialog label,
#dialog input {
	display: block;
}
#dialog label {
	margin-top: 0.5em;
}
#dialog input,
#dialog textarea {
	width: 95%;
}
.tabBar {
	height: calc(100% - 28px);
	margin-top: 0;
}
.tabBar .tabIconBox {
	float:right;
}
.tabBar .tabIconClear {
	clear:both;
}
.tabBar li .ui-icon-close {
	position:relative;
	top:-6px;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}
#add_tab {
	cursor: pointer;
}
.jstree-contextmenu {
	z-index:99999;
}
.reloadButton {
		position:relative;
	top:-6px;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
	display:inline-block;
}
.preAceEdit {
        margin: 0;
        height: calc(100% - 20px);
        width:100%;
}



#toolBarSide {
    margin-left: 20px;
    width: 250px;
    float:left;
	min-height:600px;
	z-index:4;
	border-right-width: 2px;
	


}
#tabs-1, #tabs-2, #tabs-3 {
	margin-top:-26px;
}

#tabs-1, #tabs-2, #tabs-3 {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 98px) !important;
	/*min-height: calc(100% - 78px);*/
	
}


#toolBarSide > ul {
    -webkit-transform: rotate(-90deg) translate(calc(-100% + 32px),-32px);
    -webkit-transform-origin: 0 50%;
    -ms-transform: rotate(-90deg) translate(calc(-100% + 32px),-32px);
    -ms-transform-origin: 0 50%;
    -moz-transform: rotate(-90deg) translate(calc(-100% + 32px),-32px);
    -moz-transform-origin: 0 50%;
    -o-transform: rotate(-90deg) translate(calc(-100% + 32px),-32px);
    -o-transform-origin: 0 50%;
    
    transform: rotate(-90deg) translate(calc(-100% + 32px),-32px);
    transform-origin: 0 50%;

    height:22px;
    margin-top:13px;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #000000 4%, #595959 12%, #474747 22%, #474747 22%, #666666 25%, #2c2c2c 52%, #111111 60%, #2b2b2b 76%, #1c1c1c 96%, #1c1c1c 96%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(4%,#000000), color-stop(12%,#595959), color-stop(22%,#474747), color-stop(22%,#474747), color-stop(25%,#666666), color-stop(52%,#2c2c2c), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(96%,#1c1c1c), color-stop(96%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* IE10+ */
background: linear-gradient(135deg, #4c4c4c 0%,#000000 4%,#595959 12%,#474747 22%,#474747 22%,#666666 25%,#2c2c2c 52%,#111111 60%,#2b2b2b 76%,#1c1c1c 96%,#1c1c1c 96%,#131313 100%); /* W3C */
margin-left: 20px;
}

#toolBarSide > ul > li {
    height:14px;
    margin-top:6px;
}

#toolBarSide > ul > li > a {
    margin-top:-10px;
    font-size: 0.8em;
}


#toolBarSide > div {
    height: 100%;
    padding: 4px;
    margin-left: 0px;
    font-size: 0.8em;
}


#toolBarSide .ui-tabs { direction: rtl !important; margin-right:16px !important; }
#toolBarSide .ui-tabs .ui-tabs-nav li.ui-tabs-selected {float: right !important; }
#toolBarSide li.ui-state-default {float: right !important; }
#toolBarSide .ui-tabs .ui-tabs-nav li a { float: right !important; }


#window_arrangePanes {
	width:500px !important;
	line-height: 0 !important;
	
	
}
#window_arrangePanes .arrangePane {
	display:inline-block !important;
	width:80px !important;
	overflow:hidden !important;
	border-width:2 !important;
	border-style: solid !important;
	border-color: #000000 !important;
	margin: 0 !important;
}
#window_arrangePanes a {
	display:inline-block !important;
	width:80px !important;	


}

.addNewTab a {
	-webkit-clip-path: polygon(0 10px, 100% 10px, 100% 27px, 0 27px) !important;
	clip-path: polygon(0 10px, 100% 10px, 100% 27px, 0 27px) !important;
	height:15px !important;
}
.menuList .addNewTab, .menuList .addNewTab a {
	cursor:pointer !important;
	
	/*clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%) !important;*/
	/*cursor:hand;*/
}
.addNewTab a {
	width:100%;
	margin-top:-8px !important;
}
.addNewTab .ui-icon {

	display:inline-block;

}
.addTabIntro {
	color:#FFFFFF !important;
	margin:50px !important;
}
.ui-icon-folder-open {
	display:inline-block;
}
.addNewTab { 
	float: left;
    padding: .5em 1em;
    text-decoration: none;
    /*width:120px;*/
}
.addTabText {
	display:inline-block;
}
.ui-contextmenu {
	z-index:999;
}

#jstree-dnd {
	background-color:#FFFFFF !important;
}

#rightBar {
	float:right;
	width:150px;
	border-left: 2px solid black;
	height:100%;
	/*overflow:hidden;*/
	overflow:scroll;
	z-index:50;
}
#userBar {
	padding:4px;
}
.projectUserBox {
	background-color:#CCCCCC;
	border: 1px solid black;
	margin-bottom:3px;
}
.projectUserBox li {
	list-style-type:none;
	padding-left:2px;
}
.projectUserBox ul {
	padding-left:5px;
	padding-top:0;
	margin-top:0;
}
#menuRightBar {
	float:right;
	width:275px;
	text-align:center;
}
#cssmenu {
	float:left;
	width: calc(100% - 275px) !important;
}
#menuBar {
	background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #000000 4%, #383838 37%, #111111 60%, #2b2b2b 76%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(4%,#000000), color-stop(37%,#383838), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* IE10+ */
	background: linear-gradient(135deg, #4c4c4c 0%,#000000 4%,#383838 37%,#111111 60%,#2b2b2b 76%,#131313 100%); /* W3C */

}
#connectionBox {
	font-size:15pt;
	font-weight:bold;
	height:42px;
	margin-top:2px;
}
#connectionBox .reconnect {
	font-size:12pt;
	font-weight:normal;
}
.connectionFast {
	color:rgba(0,200,0,1.0);
}
.connectionMed {
	color:rgba(255,255,100,1.0);
}
.connectionNone {
	color:rgba(255,0,0,1.0);
}
.projectUserBox {
	word-wrap: break-word;
}
.userFileLink {
	text-decoration: underline;
	color:rgba(0,0,140,1.0);
	cursor: pointer;
}
.disconnectBlock {
	text-align:center;
}
.disconnectBlock h1 {
	font-size:40pt;
	color:rgba(0,0,0,1.0);
}
.disconnectBlock h2 {
	font-size:30pt;
	color:rgba(0,0,0,1.0);
}
.jstree-rename-input {
	height:24px !important;
	padding:0 !important;
	line-height: 24px !important;
}
.wysiwyg {
	position:absolute;
	float:left;
	
}