.taskBox {
    background-color:rgba(255,255,255,1.0);
    color:rgba(0,0,0,1.0);
    overflow-x:scroll !important;
    width:100%;
    height: calc(100% - 20px);
}

.taskBoard {
    border-width:2px;
    border-style:solid;
    border-color:#000000;
    display:inline-block;
}

.taskTable {
    border-collapse: separate;
    width:100%;
    /*border-style:solid;*/
    /*border-width:2px;*/
    /*border-color:#000000;*/
    display:table;
    background-color:rgba(255,255,255,1.0);
    padding-right:10px;
 
}
.taskTable tr {
    border-width:1px;
    border-style:solid;
    border-color:#0000FF;
    height:100%;
 
}
.taskTable td, .taskTable th {
    display:table-cell;
    height:100%;
    padding:10px;
    
 
}
.placeholder { 
            -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
            -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
            box-shadow: 4px 5px 4px #C6C6C6 inset;
            background: #EFEFEF !important; 
}
.taskCell {
    height:100%;
    min-height:40px;
    width:calc(100% - 10px);
    display:inline-block;
    border-width:4px;
    border-style:solid;
    padding:5px;
    background-color:rgba(100,100,100,1.0);
}
.taskCellBlack {
    border-color:rgba(0,0,0,1.0);
}
.taskCellGreen {
    border-color:rgba(0,200,0,1.0);
}
.taskCellYellow {
    border-color:rgba(255,255,0,1.0);
}
.taskCellRed {
    border-color:rgba(255,0,0,1.0);
}
.taskGreen {
    background-color:rgba(180,235,100,1.0);
}
.taskYellow {
    background-color:rgba(255,255,100,1.0);
}
.taskRed {
    background-color:rgba(255,0,0,0.6);
}
.taskNone {
    background-color:rgba(255,255,255,1.0);
}
.taskItem {
    border-style:solid;
    border-width:1px;
    border-color:rgba(0,0,0,1.0);
    padding: 6px;
    margin:7px;
    text-align:center;
    position:relative;
    min-height:50px;
}
.taskHeader {
    display:inline-block;
    padding-left:30px;
    padding-right:30px;
}
.taskHeaderContainer {
    margin:auto;
    display:inline;
}
.taskHeaderContainer textarea {
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    display:block;
    min-width:100px;
}
.taskRowHeader textarea {
    min-width:100px;
}
.taskItem textarea {
    min-width:100px;
}
.taskItemContainer {
    /*display: inline;*/
    display:block;
    margin:auto;
    position:relative;
    width:100%;
    height:100%;
}
.taskItemContent {
    display:block;
    padding-left:5px;
    padding-right:5px;
    min-height:27px;
}

.taskItemTitle {
    display:block;
    padding-left:5px;
    padding-right:5px;
}

.taskRowLabel {
    min-width:125px;
    width:auto;
}
.taskRowLabel textarea {
    width:95% !important;
}
.taskRowLabel input {
    width:95% !important;
}
.taskEditButton {
    position:absolute;
    left: calc(100% - 27px);
    top: 6px;
    height:17px;
    width:20px;
    background-image:url("/assets/edit20.gif");
    cursor: pointer;
    border-color:rgba(0,0,0,0.2);
    border-width:1px;
    border-style:solid;
    visibility:hidden;
    z-index:40;
}
.taskNoteButton {
    position:absolute;
    left: calc(100% - 23px);
    bottom: 4px;
    height:23px;
    width:20px;
    background-image:url("/assets/note20.gif");
    cursor: pointer;
    z-index:40;
    border-style:solid;
    border-width:2px;
    border-color:rgba(255,255,255,1.0);

    visibility:hidden;
}
.firstTaskNoteButton {
    background-image:url("/assets/addnote20.gif") !important;
}
.addTaskNoteButton {
    left: calc(100% - 29px) !important;
    background-image:url("/assets/addnote20.gif") !important;
}
.taskNoteNumber {
    text-align:center;
    font-size:10px;
    margin-top:7px;
    font-weight:bold;
    color:rgba(0,0,0,1.0);
    width:100%;
    height:100%;
}
.taskNoteItem {
    border-style:solid;
    border-color:rgba(0,0,0,1.0);
    border-width:1px;
    width:70%;
    background-color:rgba(245,245,245,1.0);
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
.taskItemContent ul, .taskItemContent li {
    text-align: left;
}
.taskItemContent ul {
        display:inline-block;
        margin:auto;
}
.taskNoteHeader {
    background-color:rgba(210,210,210,1.0);
    border-style:solid;
    border-bottom-width:2px;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-color:rgba(140,140,140,1.0);
}
.taskNoteDate {
    font-size:10px;
    padding:4px;
}
.taskNoteUser {
    font-size:12px;
    padding:5px;
    font-weight:bold;
}