.taskBox {
    background-color:rgba(255,255,255,1.0);
    color:rgba(0,0,0,1.0);
    overflow-x:scroll !important;
    width:100%;
    height: calc(100% - 20px);
}

.taskBoard {
    border-width:2px;
    border-style:solid;
    border-color:#000000;
    display:inline-block;
}

.taskTable {
    border-collapse: separate;
    width:100%;
    /*border-style:solid;*/
    /*border-width:2px;*/
    /*border-color:#000000;*/
    display:table;
    background-color:rgba(255,255,255,1.0);
 
}
.taskTable tr {
    border-width:1px;
    border-style:solid;
    border-color:#0000FF;
    height:100%;
 
}
.taskTable td, .taskTable th {
    display:table-cell;
    height:100%;
    padding:10px;
    
 
}
.placeholder { 
            -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
            -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
            box-shadow: 4px 5px 4px #C6C6C6 inset;
            background: #EFEFEF !important; 
}
.taskCell {
    height:100%;
    min-height:40px;
    width:calc(100% - 10px);
    display:inline-block;
    border-width:2px;
    border-style:solid;
    padding:5px;
}
.taskCellBlack {
    border-color:rgba(0,0,0,1.0);
}
.taskCellGreen {
    border-color:rgba(0,200,0,1.0);
}
.taskCellYellow {
    border-color:rgba(255,255,0,1.0);
}
.taskCellRed {
    border-color:rgba(255,0,0,1.0);
}
.taskGreen {
    background-color:rgba(180,235,100,1.0);
}
.taskYellow {
    background-color:rgba(255,255,100,1.0);
}
.taskRed {
    background-color:rgba(255,0,0,0.6);
}
.taskNone {
    background-color:rgba(255,255,255,0.0);
}
.taskItem {
    border-style:solid;
    border-width:1px;
    border-color:rgba(0,0,0,1.0);
    padding: 6px;
    margin:7px;
    text-align:center;
}
.taskHeader {
    display:inline-block;
    padding-left:30px;
    padding-right:30px;
}
.taskHeaderContainer {
    margin:auto;
    display:inline;
}
.taskHeaderContainer textarea {
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    display:block;
    min-width:100px;
}
.taskRowHeader textarea {
    min-width:100px;
}
.taskItem textarea {
    min-width:100px;
}
.taskItemContainer {
    display: inline;
    margin:auto;
}
.taskItemContent {
    display:block;
    padding-left:5px;
    padding-right:5px;
}
.taskItemTitle {
    display:block;
    padding-left:5px;
    padding-right:5px;
}

.taskRowLabel {
    min-width:120px;
    width:auto;
}
.taskEditButton {
    float:right;
    height:17px;
    width:20px;
    background-image:url("/assets/edit20.jpg");
    cursor: pointer;
}
.taskItemContent ul, .taskItemContent li {
    text-align: left;
}
.taskItemContent ul {
        display:inline-block;
        margin:auto;
}

